@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.react-datepicker {
  display: flex !important;
  gap: 1rem; 
}

.react-datepicker__month-container {
  float: none !important;
}

.scroll-wrapper {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* hide thumb by default */
  transition: scrollbar-color 0.3s;
}



