@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.react-datepicker {
  display: flex !important;
  gap: 1rem; 
}

.react-datepicker__month-container {
  float: none !important;
}

.scroll-wrapper {
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s;
}
.react-datepicker__month-container {
  width: 100% !important;
}

.react-datepicker__month-container {
  width: 100% !important;
  
}
.react-datepicker__day-names {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}


